
body, html {
    height: 100%;
    font-size: 16px;
}

#wrapper {
    min-height: 100%;
}

main {
    /* overflow: auto; */
    padding-bottom: 150px;
}

/* footer {
    position: absolute;
    width: 100%;
    bottom: 0;
} */

.nav-item .nav-link.active {
    color: #007bff !important;
}

